@import "tailwindcss";

@source '../**/*.blade.php';
@source '../**/*.js';

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body,
    input,
    textarea,
    button {
        font-size: 1rem;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        font-family: "DM Sans", sans-serif;
    }

    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: #1f293760;
        border-radius: 3px;
        transition: 0.2s;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #1f293780;
    }

    .tippy-box[data-theme~="custom"] {
        background-color: oklch(0.2393 0 0 / 0.85);
        color: var(--color-main-background);
        font-size: var(--text-sm);
        border-radius: 4px;
        padding: 3px 6px;
    }

    input::-ms-reveal,
    input::-ms-clear,
    input::-webkit-password-eye {
        display: none;
    }
}

@theme {
    --font-heading: "DM Sans", sans-serif;
    --font-text: "Geist", sans-serif;

    --color-main-background: oklch(0.9851 0 0);
    --color-secondary-background: oklch(0.9702 0 0);
    --color-borders: oklch(0.9067 0 0);

    /* --color-primary-solid: oklch(0.648 0.1782 259.6); */
    --color-primary-solid: oklch(0.7669 0.0998 185.46);
    --color-report-channel-primary-solid: oklch(0.648 0.1782 259.6);

    --color-main-text: oklch(0.2393 0 0);
    --color-secondary-text: oklch(0.4979 0.0094 253.91);

    --color-success: oklch(0.7303 0.1944 147.44);
    --color-alert: oklch(0.8849 0.1805 94.78);
    --color-danger: oklch(0.6633 0.2236 28.29);

    --container-max-width: 1344px;
    --container-width: "100%";
    --container-margin: auto;

    --animate-scroll-horizontal: scroll-horizontal 2s ease-in-out infinite;

    @keyframes scroll-horizontal {
        0%,
        100% {
            transform: translateX(0px);
        }
        50% {
            transform: translateX(40px);
        }
    }
}

@layer utilities {
    .w-container {
        width: var(--container-width);
        max-width: var(--container-max-width);
        margin-left: var(--container-margin);
        margin-right: var(--container-margin);
    }
}
